html::-webkit-scrollbar {
    display: none;
  }

html{
    background-image: url(/img/BACKGROUND.png);
}

body{
    margin: 5px;
}
h1{
    font-family: 'Charm', cursive;
    text-shadow: 1px 1px 2px #d6f6dd;
}

.menu h1{
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

h2{
    font-family: 'Charm', cursive;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.menu p{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: black;
}


p{
    font-family: 'Caveat', cursive;
    text-shadow: 1px 1px 2px white;
}

hr{
    width: 100%;
    height: 5px;
    background-color: #d6f6dd;
    border-style: none;
    border-radius: 25px;
}

.main{
    width: 100%;
    background-color: #d49d8f;
}

.main img{
    width: 100%;
}

.hiring{
    padding: 5px;
    text-align: center;
}
.intro{
    text-align: center;
    padding: 5px;
    background-color: #d49d8f;
}

.intro p{
    font-size: 25px;
}

.hiring button{
    font-family: 'Caveat', cursive;
    border: none;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 30px;
    transition-duration: 0.3s;
}


.hiring button:hover{
    cursor: pointer;
    background-color: white;
}

@keyframes reveal {
    from {transform: translateX(-150px); opacity: 0%;}
    to {transform: translateX(0px); opacity: 100%;}
  }

.menu{
    text-align: center;
    width: 100%;
}

.menu img{
    width: 200px;
    animation: auto linear reveal both;
    animation-timeline: view();
    animation-range: entry, exit;
}


@keyframes reveal-up {
    from {transform: translateY(-150px); opacity: 0%;}
    to {transform: translateY(0px); opacity: 100%;}
  }

.menu p{
    font-size: 25px;
    animation: auto linear reveal-up both;
    animation-timeline: view();
    animation-range: entry, exit;
}

.ingredients{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@keyframes reveal-invert {
    from {transform: translateX(150px); opacity: 0%;}
    to {transform: translateX(0px); opacity: 100%;}
  }

.ingredients img{
    width: 75px;
    animation: auto linear reveal-invert both;
    animation-timeline: view();
    animation-range: entry, exit;
}

#homebutton{
    text-align: center;
}

#homebutton button{
    font-family: 'Caveat', cursive;
    padding: 15px;
    font-size: 20px;
    background-color: #c7826b;
    border-radius: 25px;
    border-style: none;
    color: white;
    transition-duration: 0.3s;
}

#homebutton button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.hiring-desktop{
    display: none;
}

.menuitem{
    padding: 5px;
}

/************************************************************* D E S K T O P ***********************************************************/


@media (min-width: 1280px){
    
html{
    background-image: url(/img/BACKGROUND.png);
}

.desktop{
    height: 1000%;
    width: 25%;
    margin: 5px;
    background-color: #d49d8f;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0px;
}

.main{
    background: none;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.main img{
    width: 85%;
    background-color: #d49d8f;
}

.hiring-desktop button{
    font-family: 'Caveat', cursive;
    border: none;
    width: 120px;
    height: 60px;
    border-radius: 25px;
    font-size: 30px;
    transition-duration: 0.3s;
}

.hiring-desktop button:hover{
    cursor: pointer;
    background-color: white;
}

.hiring-desktop{
    display: block;
    top: 0;
}

.hiring{
    display: none;
}

.menu{
    margin-left: 25%;
    width: 75%;
    font-size: 35px;
}

.menu img{
    width: 30%;
}

.ingredients img{
    width: 10%;
}

.menu p{
    font-size: 35px;
}

.menuitem{
    margin-left: 20%;
    width: 60%;
}
}