/*NEWDAY PHONE WIDH 320 ISH */

::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

html{
  margin: auto;
  background-image: url(/img/background2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
  margin: auto;
}

h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style:  italic;
}

p{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*INDEX*/

.swiffy-slider{
  margin-bottom: 32px;
  filter: drop-shadow(0px 10px 15px #000000);
}

.homepage{
  margin: auto;
  width: 300px;
}

.menubody{
  margin: auto;
  width: 300px;
}

.contactbody{
  margin: auto;
  width: 300px;
}

.homepage p{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  text-shadow: 1px 1px 1px white;
}

.homepage button{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #f4fcff;
  text-shadow: 1px 1px 2px black;
  height: 100px;
  background: none;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 10px rgb(51, 51, 51);
  transition: 0.4s;
  margin-bottom: 10px;
  width: 100%;
}

.homepage button:hover{
  background-position: right;
  text-shadow: 1px 1px 2px black;
  color: #f4fcff;
  background-color: #d49d8f;
  cursor: pointer;
  border: double 5px #f4fcff;
}

.intro{
  margin: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px;
}

.logo{
  z-index: 999;
  filter: drop-shadow(5px 5px 5px #363636);
  width: 100%;
}

.location{
  padding: 10px;
  margin: auto;
  width: 95%;
  background: linear-gradient(180deg, rgba(212,157,143,0.5) 0%, rgba(172,129,118,1) 100%);
  border-radius: 30px;
  border: double 5px #f4fcff;
  text-align: center;
}

.location-circle{
  filter: drop-shadow(1px 1px 5px #000000);
  width: 100%;
}

.go-menu{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 99999;  
  }
  
  .go-menubtn{
    color: #f4fcff;
    background-color: #d49d8f;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #f4fcff;
    border-radius: 200px;
    transition: 0.2s;
  }
  
  .go-menubtn:hover{
    font-size: 38px;
    padding: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
    border: 5px solid #f4fcff;
  }


/******************************************************bMENU*/

/*.menu-all{
  background-color: white;
}*/

.menuintro{
  text-align: center;
  margin-bottom: 75px;
}

.menuintro h1{
  text-shadow: 1px 5px 5px rgba(237,170,200,1);
  margin: 0;
  font-size: 70px;
}

.menuintro p{
  font-size: 25px;
  text-shadow: 1px 3px rgba(237,170,200,1);
  padding-bottom: 50px;
}

.gohome{
position: fixed;
bottom: 0;
right: 0;
margin: 10px;
z-index: 99999;  
}

.homebtn{
  color: #f4fcff;
  background-color: #d49d8f;
  font-size: 19px;
  padding: 8px;
  border: 1px solid #f4fcff;
  border-radius: 200px;
  transition: 0.2s;
}

.homebtn:hover{
  font-size: 38px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  border: 5px solid #f4fcff;
}

.menu-all{
overflow: hidden;
width: 100%;
}
.menu-all h1{
  border-radius: 25px;
  border: solid 1px black;
  font-size: 35px;
  }

.menu-all p{
  font-size: 22px;
    }

    .menuitem{
      margin: auto;
      margin-bottom: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
    }

.menu-text{
  text-shadow: 2px 2px 10px rgba(237,170,200,1);
  font-size: 0px;
  opacity: 0;
  transition: 1.5s;
}

.show2{
  opacity: 1;
}

.show2:nth-child(2){
  transition-delay: 200ms;
}
.show2:nth-child(3){
  transition-delay: 400ms;
}

/*BIG ICONS*/

.icon-mobile{
  filter: drop-shadow(1px 1px 3px #363636);
  margin: auto;
  width: 200px;
  height: 200px;
  transition: 1s ease;
  transform: translateX(-50%);
}

.icon-mobile:hover{
  transition: 0.2s;
  width: 250px;
  height: 250px;
}

.icon{
  display: none;
}

.show3{
  transform: translateX(0%);
}

/*INGREDIENT IMAGES LEFT*/
.ingredient{
  visibility: hidden;
  justify-content: space-evenly;
  opacity: 0;
  transition: 1s ease;
  transform: translateX(100%);
    margin: auto;
    width: 75px;
    height: 75px;
    filter: drop-shadow(1px 1px 1px #363636);
}

.ingredient:hover{
  width: 125px;
  height: 125px;
  transition: 0.2s;
}

.ing-slide{
  visibility: visible;
  display: flex;
  justify-content: space-evenly;
  opacity: 1;
  transform: translateX(0);
}

/*ingredients*/
.ing-slide:nth-child(2){
  transition-delay: 200ms;
}
.ing-slide:nth-child(3){
  transition-delay: 400ms;
}
.ing-slide:nth-child(4){
  transition-delay: 600ms;
}

.logo-menu{
  filter: drop-shadow(5px 5px 5px #363636);
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}

.menubreak{
  height: 1px;
  background: black;
  border: none;
  outline: none;
  margin: 3em 3em 5em;
  position: relative;
  width: 50%;
  margin: 3em auto;
}

.form{
  margin: auto;
  display: none;
}

.showbutton{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #f4fcff;
  background-color: #d49d8f;
  font-size: 24px;
  padding: 8px;
  border: 1px solid #f4fcff;
  border-radius: 200px;
  transition: 0.2s;
}

.showbutton:hover{
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  border: 5px solid #f4fcff;
}

.togglebuttons{
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}