/*NEWDAY PHONE WIDH 320 ISH */

::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

html{
  margin: auto;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

body{
  margin: auto;
}

.intro{
  margin: auto;
  width: 95%;
  background-color: #00000050;
  border-radius: 30px;
  text-align: center;
}

.intro p{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.logo{
  width: 300px;
}



/*MENU*/

.gohome{
position: fixed;
bottom: 0;
right: 0;
margin: 10px;
z-index: 99999;  
}

.homebtn{
  color: #f4fcff;
  background-color: #d49d8f;
  font-size: 19px;
  padding: 8px;
  border: 1px solid #f4fcff;
  border-radius: 200px;
  transition: 0.5s;
}

.homebtn:hover{
  font-size: 38px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  border: 5px solid #f4fcff;
}

.menu-all{
overflow: hidden;
width: 100%;
}

.menu-all h1{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style:  italic;
  font-size: 25px;
    }

.menu-all p{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
    }

    .menuitem{
      margin: auto;
      margin-bottom: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      border: 2px solid white;
    }

/*menu*/

.menu-text{
  font-size: 0px;
  opacity: 0;
  transition: 1.5s;
}

.show2{
  opacity: 1;
}

.show2:nth-child(2){
  transition-delay: 200ms;
}
.show2:nth-child(3){
  transition-delay: 400ms;
}

/*BIG ICONS*/

.icon-mobile{
  margin-left: 68px;
  width: 200px;
  height: 200px;
  transition: 1s ease;
  transform: translateX(-50%);
}

.icon{
  display: none;
}

.show3{
  transform: translateX(0%);
}

/*INGREDIENT IMAGES LEFT*/
.ingredient{
  visibility: hidden;
  justify-content: space-evenly;
  opacity: 0;
  transition: 1s ease;
  transform: translateX(100%);
    margin: auto;
    width: 75px;
    height: 75px;
}

.ing-slide{
  visibility: visible;
  display: flex;
  justify-content: space-evenly;
  opacity: 1;
  transform: translateX(0);
}

/*ingredients*/
.ing-slide:nth-child(2){
  transition-delay: 200ms;
}
.ing-slide:nth-child(3){
  transition-delay: 400ms;
}
.ing-slide:nth-child(4){
  transition-delay: 600ms;
}